<body>
  <div class="container">
    <p class="text-start fs-4 mt-5">
    Наши адреса: их нет :(
    </p>
    <p class="text-start fs-4">
      Доставка: Самовывоз из г.Фастов или доставка по почте. Бесплатная доставка от 2-х товаров, а так же любовь от создателя вещей
    </p>
    <p class="text-start fs-4">
      Наши социальные сети: <a class="link text-decoration-none" target="_blank" href="https://www.instagram.com/06sun_custom/">Instagram</a>
    </p>
    <p class="text-start fs-4">
      Номер телефона: +380997953783
    </p>
    <p class="text-start fs-4">
      Наш адрес:
    </p>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d8070.791820711947!2d29.89063995771434!3d50.07577585691769!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d355209bff7d7f%3A0x934db6b73da9f459!2z0J_QuNCy0L7QstCw0YDQvdGPINCX0LjQsdC10YDRgtCw!5e0!3m2!1sru!2sua!4v1657840481751!5m2!1sru!2sua" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</body>
